
   body {
    font-family: Arial, sans-serif;
  }
  
  header {
    padding: 20px ;
  }
  
  .navbar-brand {
    font-size: 2.5rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 2.5rem;
  }
  
  .home-section {
    background-color: red;
    color: white;
    padding: 100px 0;
  }
  
  .about-section,
  .works-section,
  .contact-section {
    padding: 50px 0;
    text-align: center;
  }
  
  .contact-section {
    color: black;
  }
  
  footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .h3 {
      text-align: center;
      text-decoration: underline;
    }

    img {
      border: black;
    }

    .col{
      border: black;
    }